a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

body {
	/* background-color: #3f3f50; */
	color: #090909;
	line-height: 1.3;
	font-size: 22px;
	padding: 20px;
}

a {
	color: #45259d;
}

p {
	max-width: 1000px;
}

h1 {
	color: #ea5211;
}

li::marker {
	color: #4606f6;
}

.task-h1 {
	color: #7604f9;
}
.task-p {
	color: #1ef606;
	font-size: 35px;
}
.task-h2 {
	border-top: 3px solid #d1d1db;
	padding-top: 10px;
}